.button__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;

  button {
    position: relative;
    border-radius: 3px;
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    z-index: 2;
    color: #0000bc;

    &:hover {
      &::after {
        visibility: visible;
        opacity: 1;
      }
    }

    &::after {
      content: '';
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      border-radius: 15px;
      background: rgb(131, 58, 180);
      background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
      filter: blur(10px);
      z-index: -1;
    }
  }

  .btn-false {
    pointer-events: none;
    cursor: default;
    box-shadow: inset 0px 0px 5px red;

    &::after {
      content: '';
      display: none;
    }

    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: url(../img/false.svg);
      background-size: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .btn-true {
    pointer-events: none;
    cursor: default;
    box-shadow: inset 0px 0px 5px green;

    &::after {
      content: '';
      display: none;
    }

    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: url(../img/true.svg);
      background-size: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 990.98px) {
  .button__wrapper {
    gap: 16px;

    button {
      font-size: 20px;
      width: 44px;
      height: 44px;
    }
  }
}

@media (max-width: 767.98px) {
  .button__wrapper {
    gap: 12px;

    button {
      font-size: 18px;
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 449.98px) {
  .button__wrapper {
    gap: 15px;

    button {
      font-size: 20px;
      width: 44px;
      height: 44px;
    }
  }
}