body {
  background: url(../img/bg.png);
  position: relative;

  &.winner,
  &.er-6.er-7 {
    overflow: hidden;
    pointer-events: none;
  }
}

.restart {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  .er-6.er-7 & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px;
    box-shadow: 0px 0px 20px 20px #000;
    background: #f2f2f2;
    border-radius: 20px;
    z-index: 10;

    button {
      display: block;
      padding: 10px 25px;
      border: 3px solid #ff0000;
      border-radius: 15px;
      z-index: 10;
      cursor: pointer;
      color: #ff0000;
      font-size: 30px;
      font-weight: 800;
    }
  }

}

.winner-pop {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  .winner & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px;
    box-shadow: 0px 0px 20px 20px #000;
    background: #f2f2f2;
    border-radius: 20px;
    z-index: 10;

    button {
      display: block;
      padding: 10px 25px;
      border: 3px solid #00ff2f;
      border-radius: 15px;
      z-index: 10;
      cursor: pointer;
      color: #15ff00;
      font-size: 30px;
      font-weight: 800;
    }
  }
}