.game__word {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  span {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 4px;
      width: 100%;
      left: 0;
      bottom: -4px;
      background: #000;
    }
  }
}

@media (max-width: 449.98px) {
  .game__word {
    gap: 5;

    span {
      font-size: 44px;
    }
  }
}